<section>
    <div class="actvity">
        <h4>
            Business Activity
        </h4>

    </div>
    <div class="ads">
        <img src="https://i.imgur.com/XzED83f.png" />
        <p>
            Sponsored content
        </p>
    </div>
    <div>
        <h3>
            Sobre Xander Ink
        </h3>
    </div>
</section>

<style>
    img{
        box-shadow: 0px 0px 10px 0px #000000;
    }
    .ads {
        width: 100%;
        text-align: right;
    }
</style>