<nav>
    <a id="logo" href="/">
        <?xml version="1.0" encoding="utf-8" ?>
        <img src="/integrate.svg" />
    </a>
    <ul>
        <li><a>Our mission</a></li>
        <li><a>About us</a></li>
        <li><a>Product</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>

<style>
    img {
        width: 300px;
        aspect-ratio: initial;
    }
    nav {
        display: flex;
        gap: 200px;
        padding: 5px 25px;
        align-items: center;
        height: min-content;
        box-shadow: inset 0 0 20px #020E22, 0 0 30px rgba(27, 212, 237, 0.3);
        border-radius: 0 0 20px 20px;
        background-color: #0a1d3b;
        margin: auto;
        border: 1px solid rgba(27, 212, 237, 0.1);
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50dvw;
        z-index: 9999;
    }
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    #logo {

    }
</style>