---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Mission from "../components/Mission.astro";
import About from "../components/About.astro";
import Product from "../components/Product.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Integrate something great">
	<Navbar />
	<Hero />
	<div>
		<h5>
			Trusted by:
		</h5>
		<img src="/business.png">
	</div>
	<Mission />
	<About />
	<Product />
	<Footer />
</Layout>

<style>

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-top: 30px;
}
</style>
